<div class="questionItems index">
	<h2><?php echo __('Question Items'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('parent_id'); ?></th>
			<th><?php echo $this->Paginator->sort('question_id'); ?></th>
			<th><?php echo $this->Paginator->sort('title'); ?></th>
			<th><?php echo $this->Paginator->sort('created'); ?></th>
			<th><?php echo $this->Paginator->sort('modified'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	<?php foreach ($questionItems as $questionItem): ?>
	<tr>
		<td><?php echo h($questionItem['QuestionItem']['id']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($questionItem['ParentQuestionItem']['title'], array('controller' => 'question_items', 'action' => 'view', $questionItem['ParentQuestionItem']['id'])); ?>
		</td>
		<td>
			<?php echo $this->Html->link($questionItem['Question']['id'], array('controller' => 'questions', 'action' => 'view', $questionItem['Question']['id'])); ?>
		</td>
		<td><?php echo h($questionItem['QuestionItem']['title']); ?>&nbsp;</td>
		<td><?php echo h($questionItem['QuestionItem']['created']); ?>&nbsp;</td>
		<td><?php echo h($questionItem['QuestionItem']['modified']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $questionItem['QuestionItem']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $questionItem['QuestionItem']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $questionItem['QuestionItem']['id']), null, __('Are you sure you want to delete # %s?', $questionItem['QuestionItem']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Question Item'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Question Items'), array('controller' => 'question_items', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Parent Question Item'), array('controller' => 'question_items', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Questions'), array('controller' => 'questions', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Question'), array('controller' => 'questions', 'action' => 'add')); ?> </li>
	</ul>
</div>
