@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700,300italic");
html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}
body ::-webkit-input-placeholder {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
}
body :-moz-placeholder {
  /* Firefox 18- */
  color: #333333;
  font-size: 14px;
  font-weight: 400;
}
body ::-moz-placeholder {
  /* Firefox 19+ */
  color: #333333;
  font-size: 14px;
  font-weight: 400;
}
body :-ms-input-placeholder {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
}
body,
input,
textarea,
select {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
  font-family: 'Source Sans Pro', "Helvetica Nueue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  line-height: 1.5em;
  margin-top: 0;
}
p,
span {
  font-weight: 400;
  color: #555555;
}
strong {
  font-weight: 700;
}
header {
  background-color: #eeeeee;
  box-shadow: 0 2px 2px rgba(50, 50, 50, 0.2);
}
footer {
  padding: 20px;
  margin-top: 20px;
  background: #222222;
}
footer p {
  line-height: 2;
}
footer p span {
  font-weight: 400;
}
footer a {
  color: #eeeeee;
}
footer .nav a {
  color: #eeeeee;
}
footer .nav a:hover,
footer .nav a:focus {
  background-color: none !important;
}
footer .nav li {
  width: 33%;
}
footer .nav li:first-child {
  margin-left: -15px;
}
footer .nav li a:hover {
  background-color: none;
}
footer .nav i {
  float: left;
  display: inline-block;
  margin: 5px;
}
footer .nav span {
  display: inline-block;
}
#content {
  background: #ffffff;
  filter: none;
  min-height: 100%;
  padding: 20px 20px;
  -webkit-border-radius: 0px 5px 5px 5px;
  -moz-border-radius: 0px 5px 5px 5px;
  border-radius: 0px 5px 5px 5px;
  border: 1px solid #eeeeee;
  position: relative;
}
#content .panel-title {
  color: #eeeeee;
}
#content .panel-title i {
  padding-right: 10px;
}
.navbar-collapse {
  padding-right: 0px;
  padding-left: 0px;
  border: none;
  box-shadow: none;
}
.sidebar-nav > ul {
  margin: 0;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: none;
  border-right: none;
  padding-bottom: 1px;
  text-align: center !important;
  font-size: 10px;
}
.sidebar-nav > ul .badge {
  float: right;
  margin: -30px 10px 0 0;
}
.sidebar-nav > ul > li > ul {
  list-style: none;
  margin: 0px 0px 0px -40px;
  display: none;
}
.nav-tabs > li {
  margin-right: -1px;
  margin-top: -1px;
}
.nav-tabs.nav-stacked > li > a,
.nav-tabs.nav-stacked > li > ul > li > a {
  margin: 1px 0px 0px 0px;
  padding: 20px 0px;
  color: #aaa;
  text-shadow: 0px 1px 0px #fff;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: none;
  border-right: none;
  background: transparent;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  text-decoration: none;
}
.nav-tabs.nav-stacked > li > ul > li {
  padding: 5px 0px;
}
.nav-tabs.nav-stacked > li > a > i,
.nav-tabs.nav-stacked > li > ul > li > a > i {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  font-size: 22px;
  display: inline-block;
  width: 100%;
}
.nav-tabs.nav-stacked > li > ul > li > a > i {
  font-size: 20px;
}
.nav-tabs.nav-stacked > li > a:hover > i {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.nav-tabs.nav-stacked > li > a:hover {
  margin: 1px 0px 0px 0px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: none;
  border-right: none;
  color: #666;
  background: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.nav-tabs.nav-stacked > li > a:hover,
.nav-tabs.nav-stacked > li > ul > li > a:hover {
  margin: 1px 0px 0px 0px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: none;
  border-right: none;
  color: #666;
  background: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.nav-tabs.nav-stacked > li.active > a {
  margin: 1px 0px 0px 0px;
  border: 1px solid #eeeeee;
  border-right: none;
  color: #555555;
  background: #fff;
  -webkit-border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
  border-radius: 5px 0px 0px 5px;
  position: relative;
  z-index: 20;
}
.nav-tabs.nav-stacked > li.active > ul {
  margin: -4px 0px 0px 0px;
  border: 1px solid #eeeeee;
  padding: 5px 0px;
  border-top: none;
  border-right: none;
  color: #555555;
  background: #fff;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  position: relative;
  z-index: 21;
}
.nav-tabs.nav-stacked > li.active > ul > li.active > a {
  color: #555555;
}
.nav-tabs.nav-stacked > li:first-child > a {
  margin: 0px;
  -webkit-border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
  border-radius: 5px 0px 0px 5px;
}
.nav-tabs.nav-stacked > li:last-child > a {
  -webkit-border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
  border-radius: 5px 0px 0px 5px;
}
.padding0 {
  padding-left: 0;
  padding-right: 0;
}
.btn-search {
  height: 45px;
}
.login-box {
  padding: 20px;
}
.login-box .wells {
  background-color: #39afea;
}
.login-box form {
  background-color: #eeeeee;
  padding: 20px;
}
.form-member h2 {
  border-bottom: 1px solid #eeeeee;
  margin: 0 0 10px 0;
}
.form-member h3 {
  margin-bottom: 5px;
}
.form-member h3 small {
  line-height: 0.5em;
  display: block;
}
.form-member .well {
  padding: 20px 20px 0 20px;
  margin: 10px 0 20px 0;
}
.form-member .well .padding0 {
  padding: 0px;
}
.form-member .well .padding0 .comma {
  text-align: center;
  bottom: 0;
  display: block;
}
.form-member .well .padding5 {
  padding: 5px;
}
.form-member .well thead {
  background-color: #39afea;
  color: #ffffff;
}
.form-member .well img {
  width: 110%;
  border: 5px solid #ffffff;
}
.form-member .well .btn {
  margin-bottom: 15px;
}
.form-member .well td {
  padding: 5px 10px;
  margin: 0;
}
.form-member .well td .form-group {
  margin: 0;
}
.form-member .well .box {
  background-color: #ffffff;
}
.form-member .well .box table {
  margin-bottom: 0;
}
.searchbox .btn {
  display: block;
  margin-top: 25px;
}
#flashMessage {
  position: absolute;
  z-index: 2000;
}
#flashMessage.message {
  background-color: #a6d279;
  display: block;
  padding: 10px 20px;
  margin: 20px auto;
  left: 50%;
  color: #ffffff;
}
.table a {
  font-weight: 700;
}
.table tbody tr {
  vertical-align: middle;
}
.table tbody tr.subtotal {
  background-color: #e5e5e5;
}
.table tbody tr th {
  background-color: #c3e7f9 !important;
  color: #1798d9 !important;
}
.table tbody tr th a {
  color: #555555 !important;
}
.user-info {
  padding-top: 75px;
}
.user-info p {
  line-height: 1.5em;
  font-size: 16px;
}
.user-info h3 {
  font-weight: 700;
  line-height: 1em;
}
.user-info b {
  margin-left: 5px;
}
.sidebar-info hr {
  border: none;
  margin-bottom: 20px;
}
.sidebar-info h4 {
  margin: 0 0 10px 0;
  padding-bottom: 2px;
  border-bottom: 1px solid #eeeeee;
  font-weight: 700;
  color: #555555;
}
.sidebar-info label {
  display: block;
}
.sidebar-info label span {
  font-size: 16px;
  margin-left: 5px;
}
.photo {
  background-color: #555555;
  height: 100%;
  display: block;
}
.visible-print h1,
.visible-print h2,
.visible-print h3,
.visible-print h4,
.visible-print h5,
.visible-print h6,
.visible-print p {
  font-size: 14px;
}
.bg-classes {
  padding: 20px;
}
.bg-classes.bg-primary {
  background-color: #c3e7f9;
  line-height: 1.5em !important;
}
.bg-classes.bg-warning {
  background-color: #ffe7cc;
  line-height: 1.5em !important;
}
.btn-whole {
  width: 100% !important;
}
